<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.class100.tvsdk">

    <application>
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/WelcomeActivityTheme" />

    </application>
</manifest>